:root {

    /* Tamanios de fuente */
    --h1_size: 48.8px;
    --h2_size: 39.1px;
    --h3_size: 31.3px;
    --h4_size: 25px;
    --h5_size: 20px;
    --h6_size: 16px;
    --p_large: 16px;
    --p_regular: 14px;
    --p_small: 10px;
    --texto_botones: 16px;

    /* Fuentes */

    --fuente_titulo: 'Black Ops One', cursive;
    --funte_primaria: 'Roboto Condensed', sans-serif;

    /* Interlineados */

    --p_large_interlineado: 24px;
    --p_regular_interlineado: 22px;
    --p_small_interlineado: 16px;

    /* Colores */

    --color_primario: #3FBFE9;
    --color_primario_luz1: #6FCFF9;
    --color_primario_luz2: #9AD7FF;
    --color_primario_sombra1: #1E608E;
    --color_primario_sombra2: #2E90CC;

    --color_secundario: #1E2022;
    --color_secundario_luz1: #333536;
    --color_secundario_luz2: #484A4C;
    --color_secundario_sombra1: #090A0B;
    --color_secundario_sombra2: #141516;

    --color_acento: #FFB800;
    --color_acento_luz1: #FFD633;
    --color_acento_luz2: #FFEB99;
    --color_acento_sombra2: #CC9300;

    --color_success: #4BB543;
    --color_warning: #FFCC00;
    --color_error: #CC3300;

    --color_neutroBlanco: #EEEEEE;
    --color_neutroGris: #CCCCCC;
    --color_neutroNegro: #131314;

    /* Faltan las sombras */
}

/* Estilos globales */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color_secundario);
    font-family: var(--funte_primaria);
    min-width: 390px;
}

h1 {
    font-size: var(--h1_size);
}

h2 {
    font-size: var(--h2_size);
}

h3 {
    font-size: var(--h3_size);
}

h4 {
    font-size: var(--h4_size);
}

h5 {
    font-size: var(--h5_size);
}

h6 {
    font-size: var(--h6_size);
}

button {
    cursor: pointer;
}

/* Barra de navegacion*/

.nav_bar {
    width: 100%;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color_secundario_sombra1);
}

.nav_bar i {
    color: var(--color_neutroBlanco);
    font-size: 32px;

}

.logo {
    display: flex;
    color: var(--color_neutroBlanco);
    align-items: center;
}

.logo h1 {
    font: var(--h1_size);
}


.perfil {
    display: flex;
    align-items: center;
    gap: 25px;


}

/* Header*/
.header {
    position: relative;
    max-width: 100%;

}

.header img {
    max-width: 100%;
    max-height: 100%;
}

.header h4 {
    font-size: var(--h5_size);
}

.titulo_juego_nav {

    max-width: 50%;
    position: absolute;
    top: 30%;
    left: 5%;
    color: var(--color_neutroBlanco);


}


.head h6 {
    padding-top: 2%;
    max-width: 50%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 5%;
    color: var(--color_neutroBlanco);
}

.btn_jugar_principal {

    position: absolute;

    margin-right: 5%;
    border-radius: 20px;
    padding: 2%;
    background-color: var(--color_acento);
    width: 50%;
    text-align: center;
}



/* Carrousel Li*/
.carrouselLi {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    display: block;
    position: relative;
    overflow-y: hidden;




}

.titulo_carrousel {
    color: var(--color_neutroBlanco);
    position: relative;
    padding-bottom: 5px;
    padding-top: 15px;

}

.carrouselLi_container {
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    overflow-x: scroll;
    max-width: 100%;
    white-space: nowrap;



}


.li_carrousel {
    padding-right: 15px;
    display: inline-block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    width: 145px;


}

.img_card {
    max-height: 100%;
    max-width: 100%;
    border-radius: 19px;
}

.icono_sobresaliente {
    position: absolute;
    top: 0%;
    right: 10px;
    color: var(--color_acento);
    border-radius: 10%;
    padding: 5px;
}

.icono_sobresaliente i {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: -20%;
    color: var(--color_primario);
}

.icono_sobresaliente i:first-child {
    font-size: 200%;
}

.icono_sobresaliente i:last-child {
    right: 26%;
    color: var(--color_acento);
    top: 60%;
    font-size: 100%;
}

.recuadro_gratis {
    position: absolute;
    bottom: 27%;
    left: 0;
    width: 89%;
    background-color: var(--color_acento);
    color: var(--color_neutroBlanco);
    text-align: center;
    padding: 2%;
    border-top: solid 2px var(--color_primario);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

.recuadro_gratis span {
    font: var(--h6_size);
    color: var(--color_neutroNegro);

}

.info_juego {
    color: var(--color_neutroGris);
    font-size: var(--p_regular);
    font-weight: bold;
    margin-top: 10px;

}

.titulo_juego {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    margin-bottom: 5px;
    line-height: 1em;
    max-width: 70%;
}


.precio_juego p {
    color: var(--color_success);
}

/* publicidad*/
.publicidad_home {
    padding: 15px;
    max-width: 100%;
}

.publicidad_home img {
    width: 100%;

}

/*Carrousel destacado*/

.carousel_destacado {
    font-family: var(--funte_primaria);
    overflow-x: scroll;
    white-space: nowrap;
    background-color: var(--color_secundario);
    padding-left: 3%;
    padding-right: 3%;

}

.card_destacado {
    display: inline-block;
    width: 90%;
    background-color: var(--color_secundario_luz1);
    margin: 1%;
    border-radius: 19px;
    max-width: 560px;



}


.card_destacado img {

    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
    height: 100%;
    max-width: 100%;
    max-height: 100%;


}

.card_destacado_info_container {
    display: flex;
    align-items: center;


}

.card_destacado_info {
    padding: 4%;
}

.card_destacado_info h4 {
    color: var(--color_neutroBlanco);
    font-size: var(--h5_size);
    font-weight: bold;
}

.card_destacado_info p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    color: var(--color_neutroBlanco);
    font-size: var(--p_regular);
    margin-bottom: 5px;
    line-height: 1em;
}

.btn_agregar_destacado {
    margin-right: 5%;
    border-radius: 20px;
    padding: 4%;
    background-color: var(--color_acento);
    width: 500%;
    text-align: center;

}

.btn_jugar_destacado {

    margin-right: 5%;
    border-radius: 20px;
    padding: 4%;
    background-color: var(--color_acento);
    width: 500%;
    text-align: center;
}


/* Formulario de registro */

.contenedor_registro {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5%;
}

.content_imgForm {
    width: 1100px;
    height: 983px;
    position: relative;
}

.contenedor_formulario {
    position: absolute;
    width: 50%;
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fondo_form {
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 4px 7px 15px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(75px);
}

.contenedor_formulario .logo h4 {
    font-family: var(--fuente_titulo);
    color: var(--color_neutroBlanco);
    font-weight: 400;
}

.contenedor_formulario .logo h4 span {
    color: var(--color_primario_sombra1);
}

.contenedor_formulario .logo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contenedor_formulario h3 {
    color: var(--color_neutroBlanco);
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.contenedor_btn_redes_sociales {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.contenedor_btn_redes_sociales button {
    width: 334px;
    height: 50px;
    border-radius: 1000px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--texto_botones);

}

.btn-facebook {
    background-color: #384F81;
    color: var(--color_neutroBlanco);
}

.btn-facebook i {
    font-size: 28px;
}

.btn-google {
    background-color: var(--color_neutroBlanco);
    color: var(--color_neutroNegro);
    font-weight: 600;
}

.cont_o {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.cont_o div {
    width: 150px;
    height: 1px;
    background-color: var(--color_neutroBlanco);
}

.cont_o span {
    color: var(--color_neutroBlanco);
    font-size: var(--p_regular);
}

.contenedor_registro label {
    color: var(--color_neutroBlanco);
}

.contenedor_registro label span {
    color: var(--color_error);
}

.form_name input,
.form_apellido input,
.form_username input,
.form_edad input,
.form_mail input,
.form_password input,
.form_passwordRep input,
.cont_input_login input {
    border: 1px solid var(--color_neutroBlanco);
    border-radius: 4px;
    background-color: var(--color_secundario);
    width: 334px;
    height: 32px;
}

.form input:hover {
    border-color: var(--color_primario);
}

.form input {
    color: var(--color_neutroBlanco);
    padding: 10px;
}

.form_name input,
.form_apellido input {
    width: 163px;
}

.contenedor_formulario_registro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.cont_input_login_nombre,
.cont_input_login_password,
.form_name,
.form_apellido,
.form_username,
.form_edad,
.form_mail,
.form_password,
.form_passwordRep {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.form_username,
.form_edad,
.form_mail,
.form_password,
.form_passwordRep,
.form_button,
.captcha {
    grid-column: 1/3;
}

.form_password input {
    position: relative;
}

.icon_password {
    position: absolute;
    left: 75%;
    bottom: 34.2%;
}

.icon_password i,
.icon_passwordRep i {
    color: var(--color_neutroGris);
}

.form_passwordRep input {
    position: relative;
}

.icon_passwordRep {
    position: absolute;
    left: 75%;
    bottom: 27.2%;
}

.form_button {
    margin-top: 20px;
}

.form_button button {
    background-color: var(--color_primario);
    border: none;
    border-radius: 1000px;
    width: 334px;
    height: 50px;
    font-size: var(--h4_size);
}

.captcha {
    margin-top: 20px;
}

.form_iniciaSesion {
    text-align: center;
    color: var(--color_neutroBlanco);
}

.form_iniciaSesion a {
    color: var(--color_success);
    cursor: pointer;
}

/* Login */

.cont_input_login {
    grid-column: 1/3;
}

.cont_icon_toggle {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cont_icon_toggle p {
    font-size: var(--p_regular);
}

.cont_icon_toggle i {
    font-size: 24px;
    color: var(--color_success);
}

.cont_icon_toggle p {
    color: var(--color_neutroBlanco);
}

.cont_input_login_h5 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cont_input_login h5 {
    color: var(--color_neutroBlanco);
    text-align: center;
    text-decoration: underline;
    font-weight: normal;
}


.linea_separacion_login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 1px;
    background-color: var(--color_neutroGris);
    margin-left: auto;
    margin-right: auto;
}

.content_imgForm_login {
    width: 1100px;
    height: 711px;
}

.form_Registro {
    margin-top: 20px;
}

.logo_login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* 4 en linea navegacion, menu hamburguesa */

.sidebar_burguer {
    background: linear-gradient(88deg, var(--color_primario) 1.65%, var(--color_primario_sombra1) 98.77%);
    width: 250px;
    height: 636px;
}

.sidebar_burguer li {
    color: var(--color_neutroNegro);
    font-size: var(--h5_size);
    list-style: none;
    cursor: pointer;
}

.sidebar_burguer i {
    color: var(--color_neutroBlanco);
    font-size: 20px;
}

.btn_cerrar_burguer,
.btn_cerrar_perfil {
    display: flex;
    justify-content: end;
    padding: 20px 20px;
}

.btn_cerrar_burguer i,
.btn_cerrar_perfil i {
    font-size: 30px;
    cursor: pointer;

}

.cont_menu_rapido,
.cont_menu_categorias {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.cont_menu_rapido li,
.cont_menu_categorias li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cont_linea_separacion_sidebar_burguer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.linea_separacion_sidebar_burguer {
    width: 210px;
    height: 1px;
    background-color: var(--color_neutroGris);
}

.cont_menu_categorias {
    margin-top: 30px;
}

.cont_menu_redes_sociales {
    display: flex;
    gap: 10px;
    margin: 20px 0 0 20px;
}

/* 4 en linea navegacion, menu perfil */

.sidebar_perfil {
    width: 293px;
    height: 622px;
    background: linear-gradient(88deg, var(--color_primario) 1.65%, var(--color_primario_sombra1) 98.77%);
}

.sidebar_perfil i {
    color: var(--color_neutroBlanco);
}

.sidebar_perfil li {
    font-size: var(--h5_size);
    list-style: none;
    cursor: pointer;
}

.cont_icon_perfil {
    width: 71px;
    height: 71px;
    background-color: var(--color_neutroBlanco);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.titulo_perfil {
    color: var(--neustroNegro, #131314);
    font-weight: 600;
    margin: 10px 0 0 30px;
}

.cont_menu_perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

.cont_menu_perfil li {
    display: flex;
    gap: 10px;
    align-items: center;
}

.cont_linea_separacion_sidebar_perfil {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.linea_separacion_sidebar_perfil {
    width: 200px;
    height: 1px;
    background-color: var(--color_neutroGris);
}

.btn_logout {
    font-size: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}


.contenedor_nav {
    display: flex;
    width: 100%;
    height: 71px;
    background: var(--ColSecSombra1, #0F1316);
    border-bottom: 1px solid var(--ColPrim, #3FBFE9);
    justify-content: space-between;
    position: relative;
}

.cont_burguer {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.cont_burguer i {
    color: var(--color_neutroBlanco);
    font-size: 32px;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.nav_logo h1 {
    color: var(--color_neutroBlanco);
    font-family: var(--fuente_titulo);
    font-size: var(--h4_size);
    font-weight: normal;
}

.nav_logo span {
    color: var(--color_primario_sombra1);
}

.nav_logo img {
    width: 53px;
    height: 46px;
}

.cont_perfil_img {
    width: 40px;
    height: 40px;
    background-color: var(--color_neutroBlanco);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cont_perfil_img img {
    width: 28.267px;
    height: 32.267px;
}

.cont_carrito_perfil {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 20px;
}

.cont_carrito_perfil i {
    color: var(--color_neutroBlanco);
    font-size: 27px;
}

/* Desplegables */

.sidebar_burguer,
.sidebar_perfil {
    position: absolute;
    z-index: 1000;
}

.sidebar_burguer {
    visibility: hidden;
    opacity: 0;

}

.visible_burguer {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);

}

.noVisible_burguer {
    transform: translateX(-100%);
}

.sidebar_perfil {
    margin-top: 71px;
    top: 0;
    right: 0;
    width: 0;
    overflow-x: hidden;
    transition: width 0.3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

/* 4 en linea Breadcumbs */

.cont_breadcrumbs {
    display: flex;
    margin-top: 10px;
    padding-left: 125px;
}

.cont_breadcrumbs i {
    font-size: 20px;
    color: var(--color_neutroBlanco);
}

.cont_breadcrumbs_home,
.cont_breadcrumbs_medio,
.cont_breadcrumbs_fin {
    position: relative;
}

.cont_breadcrumbs_icon {
    position: absolute;
    top: 10%;
    left: 35%;
}

.cont_breadcrumbs p {
    font-size: var(--p_large);
    color: var(--color_neutroBlanco);
}

.cont_breadcrumbs_medio_p {
    position: absolute;
    top: 11%;
    left: 20%;
}

.cont_breadcrumbs_fin_p {
    position: absolute;
    top: 12%;
    left: 20%;
}

.cont_breadcrumbs_medio,
.cont_breadcrumbs_fin {
    margin-left: -10px;
}

/* 4EnLinea Recuadro del juego */
.cont_recuadro_juego {
    position: relative;
}

.cont_recuadro_juego_img {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}


.cont_recuadro_juego_img img {
    filter: brightness(20%);
    border-radius: 20px;
}

.cont_recuadro_juego_contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont_recuadro_juego h1 {
    color: var(--color_neutroBlanco);
}

.btn_4EnLinea {
    background: var(--color_acento);
    border-radius: 20px;
    width: 120px;
    height: 40px;
    border: none;
    font-size: var(--texto_botones);
}

.cont_recuadro_juego_contenido_alineacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

/* 4 en linea instrucciones */

.cont_instrucciones {
    width: 1100px;
    height: 282px;
    border-radius: 20px;
    border: 1px solid var(--color_primario_sombra1);
    background: var(--color_secundario_sombra1);

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

.cont_instrucciones h2 {
    color: var(--color_primario);
    font-weight: normal;
    text-align: center;
}

.cont_instrucciones p {
    color: var(--color_neutroBlanco);
    font-size: var(--h4_size);
}

.cont_instrucciones_contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-top: -20px;
}

.cont_instrucciones_contenido_alineacion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_instrucciones_texto {
    width: 542px;
}

/* 4 en linea descripcion */

.cont_descripcion_recuadro {
    width: 1103px;
    height: 1150px;
    border-radius: 20px;
    border: 1px solid var(--color_primario_sombra2, #1E608E);
    background: var(--colsecsom1, #0F1316);
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}

.cont_titulo_descripcion h2,
.cont_titulo_galeria h2 {
    color: var(--color_primario);
    text-align: center;
    font-weight: normal;
    margin-top: 40px;
}

.cont_descripcion {
    display: flex;
    gap: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.cont_descripcion_img_vegeta {
    padding-bottom: 15px;
}

.cont_descripcion_texto p {
    color: var(--color_neutroBlanco);
    font-size: var(--h4_size);
}

.cont_descripcion_texto {
    width: 542px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 4 en linea galeria */
.cont_galeria {
    display: flex;
    flex-direction: column;
}

.contenedor_img_principal {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
}

.contenedor_img_principal img {
    max-width: 750px;
    border-radius: 20px;
    border: 1px solid var(--color_primario);

}

.contenedor_imagenes_carrousel {
    margin-top: 10px;
    margin-left: 110px;
    position: relative;
    z-index: 1;
}

.cont_img_car {
    display: flex;
    max-width: 750px;
    gap: 20px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cont_img_car img {
    width: 60%;
    max-height: 170px;
    border-radius: 20px;
    border: 1px solid var(--color_acento);
    cursor: pointer;

}

.cont_btn_carrousel_left i,
.cont_btn_carrousel_right i {
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20%;
}

.cont_btn_carrousel_left,
.cont_btn_carrousel_right {
    width: 55px;
    height: 55px;
    background-color: var(--color_primario);
    border-radius: 100%;
    opacity: 0.8;
    cursor: pointer;
}

.cont_btn_carrousel_left,
.cont_btn_carrousel_right {
    position: absolute;
}

.nav_galeria .cont_btn_carrousel_left {
    top: 50%;
    transform: translateY(-50%);
    right: 96.5%;
}

.nav_galeria .cont_btn_carrousel_right {
    top: 50%;
    transform: translateY(-50%);
    left: 83.5%;
}

@keyframes animacionGaleria {
    0% {
        transform: translateY(100%) scale(0);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

/* 4 en linea foro */

.cont_foro {
    width: 1100px;
    height: 895px;
    border-radius: 20px;
    border: 1px solid var(--color_primario_sombra2);
    background: var(--color_secundario_sombra1);
    margin: auto;
    margin-top: 50px;
}

.cont_foro h4 {
    color: var(--color_neutroBlanco);
    text-align: center;
    margin-top: 20px;
}

.cont_foro h4 span {
    color: var(--color_acento);
    font-weight: normal;
}

.cont_foro_comentario {
    display: flex;
    gap: 10px;
    margin-left: 60px;
}

.cont_foro_comentario p {
    color: var(--color_neutroBlanco);
}

.cont_foro_comentario i {
    color: var(--color_neutroBlanco);
    font-size: 30px;
}

.cont_foro_comentario .start {
    color: var(--color_acento);
}


.cont_foro_comentario_perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.cont_foro_comentario_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.cont_foro_comentario_recuadro {
    width: 334px;
    height: 60px;
    border-radius: 4px;
    border: 1px solid var(--color_primario);
    background: var(--color_secundario);
    display: flex;
    align-items: center;
    text-align: center;
}

.cont_foro_grid {
    display: grid;
    grid-template-areas:
        "comentario1 publicidad"
        "comentario2 publicidad"
        "comentario3 publicidad"
        "btn_vermas publicidad"
        "comentarioPersonal publicidad";
    margin-top: 20px;
}

.comentario1 {
    grid-area: comentario1;
}

.comentario2 {
    grid-area: comentario2;
}

.comentario3 {
    grid-area: comentario3;
}

.comentarioPersonal {
    grid-area: comentarioPersonal;
    margin-left: 60px;
}

.btn_vermas {
    grid-area: btn_vermas;
    display: flex;
    justify-content: center;
}

.publicidad {
    grid-area: publicidad;
}

.btn_vermas button {
    border: none;
    border-radius: 20px;
    width: 141px;
    height: 40px;
    background-color: var(--color_primario);
    font-size: var(--texto_botones);
}

.comentarioPersonal p {
    color: var(--color_neutroBlanco);
    font-size: var(--h4_size);
}

.comentarioPersonal_icon {
    width: 50px;
    height: 50px;
    background-color: var(--color_neutroBlanco);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarioPersonal_icon img {
    width: 40.769px;
    height: 46.538px;
}

.comentarioPersonal_perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.textArea_comentarioPersonal {
    width: 439px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid var(--color_primario);
    background: var(--color_secundario);
    resize: none;
    color: var(--color_neutroBlanco);
    padding: 10px;
}

.form_comentarioPersonal button {
    border: none;
    width: 133px;
    height: 40px;
    border-radius: 20px;
    background: var(--color_primario);
    font-size: var(--texto_botones);
}

.form_comentarioPersonal i {
    color: var(--color_neutroBlanco);
    font-size: 30px;
    cursor: pointer;
}

.form_comentarioPersonal_contEstrellas {
    display: flex;
    gap: 120px;
    margin-top: 10px;
}

/* Footer */

.cont_footer {
    width: 100%;
    height: 650px;
    background-color: var(--color_secundario_sombra1);
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color_primario);
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 30px;
}

.cont_footer i,
.cont_footer h1,
.cont_footer h6,
.cont_footer li,
.cont_footer p {
    color: var(--color_neutroBlanco);
}

.cont_footer li {
    list-style: none;
}

.cont_footer h6 {
    font-weight: bold;
    text-transform: uppercase;
}

.cont_footer_contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cont_categorias_redes {
    display: flex;
    gap: 10px;
}

.cont_footer i {
    font-size: 22px;
}

.cont_derechos_footer {
    width: 90%;
}

.cont_linea_footer {
    height: 1px;
    width: 90px;
    background-color: var(--color_neutroGris);
    margin: 3px 0;
}

.cont_categorias_ocultar {
    display: none;
    transition: width 0.3s ease-in-out;
}

.con_categorias_visible {
    display: inline-block;
}

.cont_contacto_footer {
    display: none;
}

.cont_legal_footer {
    display: none;
}

.cont_titulo_categorias,
.cont_titulo_contacto,
.cont_titulo_legal {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.cont_titulo_categorias i,
.cont_titulo_contacto i,
.cont_titulo_legal i {
    font-size: 15px;
}


/* @keyframes animacionFooter {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
} */

.boton_carrousel .cont_btn_carrousel_right {
    top: 40%;
    right: 3%;
}

.boton_carrousel .cont_btn_carrousel_left {
    top: 40%;
    left: 2%;
}

.boton_carrousel {
    display: none;
}


/* Medias Querys home */

/* Media query para tamaños medianos (de 481px a 769px) */
@media only screen and (min-width: 481px) and (max-width: 769px) {

    .titulo_juego_nav h4 {
        font-size: var(--h4_size);
    }

    .header h6 {
        font-size: var(--h5_size);
    }

    .li_carrousel {
        width: 160px;
    }

    .recuadro_gratis {
        bottom: 25%;
        width: 91%;
    }

    .boton_carrousel {
        display: block;
    }

    .carrouselLi_container {

        overflow: hidden;

    }

    .info_juego {
        font-size: var(--h6_size);
    }


}

/* Media query para tamaños grandes (de 770px a ...) */
@media only screen and (min-width: 770px) {

    .titulo_juego_nav h4 {
        font-size: var(--h2_size);

    }

    .header h6 {
        font-size: var(--h4_size);
    }

    .li_carrousel {
        width: 230px;
    }

    .recuadro_gratis {
        bottom: 19.6%;
        width: 87%;
    }

    .icono_sobresaliente {
        right: 50px;
        top: 0px;
    }

    .btn_jugar_principal {
        width: 50%;
        font-size: var(--h4_size);
    }

    .info_juego {
        font-size: var(--h5_size);

    }

    .boton_carrousel {
        display: block;
    }

    .carrouselLi_container {

        overflow: hidden;

    }

    .carousel_destacado {
        overflow: hidden;
    }



    /* Footer desktop */
    .cont_footer {
        height: 300px;
        padding-top: 0;
        padding-left: 0;
    }

    .cont_footer_contenido {
        flex-direction: row;
        position: relative;
        gap: 100px;
        margin-left: 130px;
    }

    .cont_footer_contenido .nav_logo {
        margin-top: -100px;
    }

    .cont_linea_footer {
        display: none;
    }

    .cont_titulo_categorias i,
    .cont_titulo_contacto i,
    .cont_titulo_legal i {
        display: none;
    }

    .cont_categorias_ocultar,
    .cont_contacto_footer,
    .cont_legal_footer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 30px;
    }

    .linea_blanca_footer {
        height: 1px;
        width: 1100px;
        background-color: var(--color_neutroGris);
    }

    .cont_linea_blanca_footer {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .cont_categorias_redes {
        position: absolute;
        left: 83%;
        bottom: 102%;
    }

    .cont_categorias_footer,
    .cont_contacto,
    .cont_legal {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    .cont_derechos_footer {
        position: absolute;
        top: 100%;
    }
}