:root {
    --color_amarilo: #FFE901;
    --color_celeste: #2982FF;
    --color_blanco: #FFFFFF;
    --color_azul: #02187E;
    --color_negro: #000000;
    --color_gris_oscuro: #242424;
    --color_gris_claro: #5E5E5D;

    --h1: 60px;
    --p_regular: 20px;

    --font_family: font-family: 'Lato', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

.header {}




.header__nav {
    width: 100%;
    height: 227px;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    justify-content: space-around;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}


.header__nav-btn {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    background-color: var(--color_amarilo);
    border: 8px solid var(--2982-ff, #2982FF);
    box-shadow: 4px 5px 0px 0px #02187E;

    color: var(--color_azul);

    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    cursor: pointer;
}

/* el primer hijo y el tercero de header__nav */

.header__nav :nth-child(1),
.header__nav :nth-child(3) {
    margin-top: 5px;
}

.header__nav :nth-child(2) {
    margin-top: 50px;
}

.btn_container {
    width: 200px;
    height: 50px;
}