:root {
    --color_amarilo: #FFE901;
    --color_celeste: #2982FF;
    --color_blanco: #FFFFFF;
    --color_azul: #02187E;
    --color_negro: #000000;
    --color_gris_oscuro: #242424;
    --color_gris_claro: #5E5E5D;
    --color_violeta: #8F6AA6;


    --h1: 60px;
    --p_regular: 20px;

    --font_family: font-family: 'Lato', sans-serif;

}




body {
    overflow-x: hidden;
    background-color: var(--color_negro);
}


* {
    margin: 0;
    padding: 0;
}


.header__nav {
    width: 100%;
    height: 227px;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 100%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    justify-content: space-between;
    z-index: 5;
    animation: agrandarImg 0.3s;
}

@keyframes agrandarImg {
    from {
        height: 103px;
    }

    to {
        height: 227;
    }
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    animation: achicarImg 0.3s;
}


@keyframes achicarImg {
    from {
        height: 227px;
    }

    to {
        height: 103px;
    }
}

.header__nav-item {
    margin: 0 80px;

}

.header__nav-divLogo {
    z-index: 2;
}


.header__nav-btn {
    width: 200px;
    height: 50px;
    border-radius: 111px;
    background-color: var(--color_amarilo);
    border: 8px solid var(--2982-ff, #2982FF);
    box-shadow: 4px 5px 0px 0px #02187E;

    color: var(--color_azul);

    font-family: var(--font_family);
    font-size: 20px;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    cursor: pointer;
}

.header__nav :nth-child(1),
.header__nav :nth-child(3) {
    margin-top: 5px;
}

.header__nav :nth-child(2) {
    margin-top: 50px;
}

.btn_container {
    width: 200px;
    height: 50px;
}

/* Parallax header */
.header {}


.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header-item {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.layer-9 img {
    width: 100%;
    z-index: 1;
}

.layer-8 {
    left: -4.5%;
    z-index: 2;
}


.layer-7 {
    top: 390px;
    left: 30%;
    z-index: 2;
}

.layer-6 {
    left: 72%;
    z-index: 2;
}

.layer-5 {
    top: 155px;
    left: 90px;
    z-index: 3;
}

.layer-4 {
    left: 770px;
    top: 110px;
    z-index: 3;
}


.layer-3 {
    left: 410px;
    top: 190px;
    z-index: 3;
}

.layer-2 {
    top: 160px;
    left: -180px;
    z-index: 4;
}

.layer-1 {
    top: 150px;
    left: 1050px;
    z-index: 4;
}



/* Duende verde */

.section__duende {
    position: relative;
    z-index: 2;
    top: -65px;
}

.fondo_duende {
    width: 100%;
    position: absolute;

}

.fondo_duende img {
    width: 100%;
}



/* Cards Spidey*/

.cont_cards{
    display: flex;
    position: relative;
    z-index: 2;
    gap: 40.56px;
    padding-left: 100px;
   
}
.cont_cards{
    width: 332px;

}
.card p{
    font-family: 'Lato';
    font-size: 20px;
    white-space: pre-line;
}
.card img{
    margin-bottom: 23.31px;
}


/* Footer */

.footer_tp4{
    margin-top: 20%;
    background-color:  rgb(101, 101, 101);
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    z-index: 2;
}
.cont_footer_tp4{
  
    padding-top: 4%;
    padding-right: 25%;
    padding-left: 8%;

  
}
.cont_footer_tp4 p, span{
    font-size: 20px;
    color: var(--color_blanco);
    font-family: 'Lato';
    letter-spacing: 2px; 
    line-height: 18.9px;
}
.cont_iconos_footer{
    background-color: rgb(37, 36, 36);
    height: 90px;
    width: 100%;
    
}
.cont_iconos_footer img{
    padding-left: 5%;
    padding-top: 3px;
    width: 90%;

}
.cont_footer_tp4 span{
    cursor: pointer;
    text-decoration: underline;
    margin-right: 2px;
   
    
}
.cont_footer_tp4 p{
    margin-bottom: 4%;
}
.cont_categorias_redes {
    display: flex;
    gap: 2px;
    background-color: black;
    width: 208px;
    margin-top: 4%;
}

.cont_categorias_redes i {
    
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 10px;
}
.cont_categorias_redes li{
    list-style: none;
}



